<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuizController</servlet-name>
		<servlet-class>edu.miu.cs472.controllers.QuizController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuizController</servlet-name>
		<url-pattern>/quiz</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AgeValidatorController</servlet-name>
		<servlet-class>edu.miu.cs472.controllers.AgeValidatorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgeValidatorController</servlet-name>
		<url-pattern>/AgeValidator</url-pattern>
	</servlet-mapping>

</web-app>
