html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #dddddd;
	font-family: Helvetica, Arial, sans-serif;
	color:#444;
}
img {
	border: 0;
}
a {
	text-decoration: none;
	color: #444;
}
h1, h2, h3 {
	color: #8AA771;
}
h1 {
	font-size: 3em;
}
.container {
	margin: 0px auto;
	width: 90%;
	background-color: #ffffff;
	padding: 20px;
	box-sizing: border-box;
}
header .container {
	background-image: url("../img/banner.png");
	background-size: auto 100% ;
	background-repeat: no-repeat;
	background-position: center right;
	height: 200px;
	background-color: #aaa;
}
footer {
	font-size: .8em;
	color: #888;
}
header .avatar {
	display: block;
	background-image: url("../img/miu.png");
	background-size: auto 90% ;
	background-repeat: no-repeat;
	background-position: center center;
	height: 160px;
	width: 160px;
	border-radius: 50%;
	background-color: #eee;
	border: 1px solid #8AA771;
}
footer .copyright {
	line-height: 32px;
}
.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.clearfix {
	clear:both;
}
.menu {
	padding:0px;
	margin:10px 0 0 30px;
	list-style-type: "\1F44D";
}
.menu li {
	padding : 10px;
}
.submenu {
	padding:0px;
	margin:10px 0 0 30px;
	list-style-type: circle;
}
.submenu li {
	padding : 10px;
}
footer .container {
	border-top :10px double #8AA771;
}
footer .validator a {
	display: inline-block;
}
